<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.bibliotecauclm"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Holo.Light">
        <activity
            android:name="com.example.bibliotecauclm.LogIn"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity
            android:name="com.example.bibliotecauclm.ActivityLibros"
            android:screenOrientation="portrait"
            android:label="@string/app_name" >
        </activity>
        
        <activity
            android:name="com.example.bibliotecauclm.ActivityPreferencias"
            android:screenOrientation="portrait"
            android:label="@string/app_name" >
        </activity>
        
        <activity
            android:name="com.example.bibliotecauclm.ActivityAcercaDe"
            android:screenOrientation="portrait"
            android:label="@string/app_name" >
        </activity>
        
        <activity
            android:name="com.example.bibliotecauclm.ActivityLicencia"
            android:screenOrientation="portrait"
            android:label="@string/app_name" >
        </activity>
        
        <activity
            android:name="com.example.bibliotecauclm.ActivityDetalles"
            android:screenOrientation="portrait"
            android:label="@string/app_name" >
        </activity>
        
         <receiver android:name="com.example.bibliotecauclm.misc.AlarmaServicio"></receiver>
         
       <!-- <receiver android:name="com.example.bibliotecauclm.misc.AlarmaEstadoCambiado">
  			 <intent-filter>
     			 <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
   			</intent-filter>
 		-->  
 		
		<receiver android:name="com.example.bibliotecauclm.misc.BootReceiver">
		    <intent-filter>
		      <action android:name="android.intent.action.BOOT_COMPLETED"/>
		    </intent-filter>
		</receiver>
		
    </application>
	<uses-permission android:name="android.permission.WAKE_LOCK"></uses-permission>
	<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    
    
</manifest>
